.toastNotification {

	display: flex; flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem; margin: 1rem;

	border-left: 5px grey solid;

	background: white; color: black;
	width: 425px; height: auto;
	border-radius: .25rem;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	// Success Colours
	&.notification_success {
		border-left-color: #d9eed9;
		.notification_icon { background: #d9eed9; ion-icon { color: #208625; } }
	}

	// Warning Colours
	&.notification_warning {
		border-left-color: #f3b247;
		.notification_icon { background: #f3b247; ion-icon { color: #f5e8d3; } }
	}

	// Error Colours
	&.notification_error {
		border-left-color: #ffe6df;
		.notification_icon { background: #ffe6df; ion-icon { color: #f98669; } }
	}

	// Info Colours
	&.notification_info {
		border-left-color: #dfedfb;
		.notification_icon { background: #dfedfb; ion-icon { color: #67a9e4; } }
	}


	.notification_icon {

		display: flex;
		align-items: center; justify-content: center;

		background: grey;
		width: 3rem; height: 3rem;
		border-radius: 25px;

		ion-icon { font-size: 1.5rem; color: black }
	}

	.notification_text {

		display: flex; flex-direction: column;
		align-items: flex-start;
		width: 70%;

		.text_title { font-weight: bold; margin: 0 0 .5rem 0; }
		.text_message {
			font-size: .9rem; margin: 0;
			-o-text-overflow: ellipsis;
		    text-overflow:    ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
			width: 100%;
		}
		.text_time { font-size: .75rem; color: grey; margin: .25rem 0 0 0;}
	}

	.notification_close {

		display: flex;
		align-items: center; justify-content: center;

		background: #e7e7e7;
		width: 2rem; height: 2rem;
		border-radius: 25px;
		margin-top: .5rem;

		ion-icon { font-size: 1.5rem; color: lightgrey; }
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	}

	&:hover {

		.text_message { white-space: normal; }
	}
}
