.toastNotification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  border-left: 5px grey solid;
  background: white;
  color: black;
  width: 425px;
  height: auto;
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.toastNotification.notification_success {
  border-left-color: #d9eed9;
}
.toastNotification.notification_success .notification_icon {
  background: #d9eed9;
}
.toastNotification.notification_success .notification_icon ion-icon {
  color: #208625;
}
.toastNotification.notification_success .notification_timeout {
  background: #d9eed9;
  opacity: 0.5;
}
.toastNotification.notification_warning {
  border-left-color: #f8cc90;
}
.toastNotification.notification_warning .notification_icon {
  background: #f8cc90;
}
.toastNotification.notification_warning .notification_icon ion-icon {
  color: orange;
}
.toastNotification.notification_warning .notification_timeout {
  background: #f8cc90;
  opacity: 0.5;
}
.toastNotification.notification_error {
  border-left-color: #ffe6df;
}
.toastNotification.notification_error .notification_icon {
  background: #ffe6df;
}
.toastNotification.notification_error .notification_icon ion-icon {
  color: #f98669;
}
.toastNotification.notification_error .notification_timeout {
  background: #ffe6df;
  opacity: 0.5;
}
.toastNotification.notification_info {
  border-left-color: #dfedfb;
}
.toastNotification.notification_info .notification_icon {
  background: #dfedfb;
}
.toastNotification.notification_info .notification_icon ion-icon {
  color: #67a9e4;
}
.toastNotification.notification_info .notification_timeout {
  background: #dfedfb;
  opacity: 0.5;
}
@keyframes notification-shake {
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
}
.toastNotification[animations=enabled] .notification_icon {
  animation: notification-shake 2s infinite;
}
.toastNotification .notification_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  z-index: 1;
}
.toastNotification .notification_icon ion-icon {
  font-size: 1.5rem;
  color: black;
}
.toastNotification .notification_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  z-index: 1;
}
.toastNotification .notification_text .text_title {
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.toastNotification .notification_text .text_message {
  font-size: 0.9rem;
  margin: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.toastNotification .notification_text .text_time {
  font-size: 0.75rem;
  color: grey;
  margin: 0.25rem 0 0 0;
}
.toastNotification .notification_close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  width: 2rem;
  height: 2rem;
  border-radius: 25px;
  margin-top: 0.5rem;
  z-index: 1;
  cursor: pointer;
}
.toastNotification .notification_close ion-icon {
  font-size: 1.5rem;
  color: lightgrey;
}
.toastNotification .notification_close:hover {
  opacity: 0.8;
}
.toastNotification .notification_timeout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: red;
  z-index: 0;
}
.toastNotification:hover .text_message {
  white-space: normal;
}

@keyframes reduceWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/*# sourceMappingURL=toastStyle.css.map */
